.primary-bg {
    background-color: #0078BE;
}

.gray-bg {
    background-color: #f5f5f5;
}

.dark-gray-bg {
    background-color: rgba(51, 65, 85, 0.5);
}

.white-bg {
    background-color: #ffffff;
}

.white-text {
    color: #ffffff;
}

.primary-text {
    color: #212121;
}

.secondary-text {
    color: #646464;
}

