.primary-bg {
    background-color: #0078BE;
}

.gray-bg {
    background-color: #334155;
}


.white-text {
    color: #ffffff;
}

.primary-text {
    color: #212121;
}

.secondary-text {
    color: #646464;
}

