* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35vh;
    height: 100vh;
    background-image: linear-gradient(rgba(34, 34, 34, 0.3),
            rgba(34, 34, 34, 0.3)),
        url(/assets/hero0.jpg);
    transition: background-image 0.25s ease-in-out;
    background-size: cover;
}

.header-text {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

nav {
    margin-left: 256px;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 0 16px;
}

.scrolled {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.nav-link {
    font-weight: 700;
    padding: 12px 14px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-transform: uppercase;
}

.nav-links li:last-child a {
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.nav-links li:last-child a:hover {
    cursor: pointer;
    background-color: #4da8ff;
}

.nav-links li:not(:last-child):hover a {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 4px;
}

a span {
    margin-left: 6px;
}


ul {
    list-style-type: none;
}

button {
    border: none;
}

.dropdown {
    display: relative;
}

.dropdown-items {
    position: absolute;
    transform: translatey(4%);
    padding: 16px 16px;
    border-radius: 6px;
    display: none;
}

.dropdown-items li {
    text-transform: none;
    padding: 16px 16px;
}

.dropdown-items li:hover {
    cursor: pointer;
    background-color: rgba(197, 197, 197, 0.178);
    border-radius: 6px;
    display: block;
}

.dropdown:hover .dropdown-items {
    display: block;
}

.toggler {
    cursor: pointer;
    scale: 1.5;
    display: none;
}

.toggler-header {
    text-align: left;
    width: 100%;
    padding: 16px;
    position: absolute;
    top: 160px;
    left: 0;
}

.toggler-header li:last-child a {
    border-radius: 24px;
    padding: 12px 32px;
}

.toggler-links li {
    padding: 16px;
}

.toggler-links li:hover {
    background-color: rgba(197, 197, 197, 0.178);
    border-radius: 6px;
}

.logo {
    padding: 16px 0;
    width: 94px;
    margin-right: 32px;
}

.logo-altern {
    max-width: 80px;
    padding: 8px 0;
    display: none;
}

.foundations {
    padding: 32px;
}

.foundations-heading {
    text-align: center;
    font-size: 18px;
    margin: 24px;
}

.foundation-cards {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 16px;
}

.foundation-card {
    max-width: 300px;
    padding: 32px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.foundation-card:nth-child(1):hover {
    background-color: #e3fafc50;
}

.foundation-card:nth-child(2):hover {
    background-color: #e6fcf550;
}

.foundation-card:nth-child(3):hover {
    background-color: #fff9db50;
}

.foundation-card:nth-child(4):hover {
    background-color: #f8f0fc75;
}

.foundation-card:nth-child(5):hover {
    background-color: #f4fce350;
}

.foundation-img {
    height: 80px;
}

.foundation-heading {
    margin: 8px;
    font-size: 16px;
    text-transform: uppercase;
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    height: 523px;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(34, 34, 34, 0.3),
            rgba(34, 34, 34, 0.3)),
        url(/assets/explore.jpg);
}

.explore-video img {
    max-height: 370px;
    object-fit: cover;
}

.explore-heading {
    padding: 16px;
}

.community {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.community-heading {
    margin: 16px 0
}

.community-main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 32px 0;
}

.community-footer {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.community-apps img {
    max-height: 64px;
    margin: 16px 20px;
}

.community-apps img:hover {
    cursor: pointer;
}

.community-img {
    flex-grow: 0;
}

.community-img img {
    max-width: 100%;
    display: block;
}

.community-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.community-card {
    flex-grow: 1;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border: 1px solid #33415513;
    border-radius: 6px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.05);
    padding: 32px 24px;
}

.community-card:hover {
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
    transform: translatey(-2%);
}

.community-card-heading {
    margin-top: 32px;
    text-transform: uppercase;
}

.community-text {
    font-size: 16px;
}

.community-text li {
    background-image: url(/assets/bullet-point.png);
    background-repeat: no-repeat;
    background-position: 0 20px;
    padding: 16px;
}

.community-text a {
    line-height: 1.5;
}

.community-btn {
    font-size: 16px;
    padding: 12px 28px;
    margin-top: 8px;
    border-radius: 24px;
}

.community-btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
}

.milestone {
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 23px;
    padding: 32px;
    background-image: linear-gradient(rgba(255, 255, 255),
            rgba(255, 255, 255, 0.5)),
        url(/assets/milestone.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.milestone img {
    font-size: 28px;
    max-width: 80px;
}

.milestone-heading {
    margin: 16px 0;
}

.milestone-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 98px;
}

.milestone-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.milestone-detail h4 {
    text-align: center;
    max-width: 240px
}

.trending {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    height: 720px;
}

.trending-heading {
    margin: 16px;
}

.trending-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.trending-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.trending-card {
    max-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.trending-card-img img {
    max-width: 100%;
}

.trending-card-header {
    padding: 24px;
    max-width: 350px;
}

.trending-card-header p {
    font-weight: bold;
    line-height: 1.75;
}

.trending-card-footer {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.75;
    border-top: 1px solid #33415525;
    padding: 12px 24px;
}

.trending-dots,
.testimonials-dots {
    display: flex;
    gap: 8px;
}

.trending-dot,
.testimonials-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 2px solid #33415525;
}

.trending-dot:hover,
.testimonials-dot:hover {
    cursor: pointer;
    background-color: #334155;
}

.trending-btn {
    font-size: 12px;
    padding: 12px 28px;
    border-radius: 24px;
}

.trending-btn:hover {
    background: #4da8ff;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.trending-btn-left,
.trending-btn-right {
    padding: 8px;
    position: absolute;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending-btn-left {
    left: 0;
    top: 50%;
    transform: translate(25%, -50%);
}

.trending-btn-right {
    right: 0;
    top: 50%;
    transform: translate(-25%, -50%);
}

.testimonials {
    display: flex;
    justify-content: center;
    padding: 48px 32px;
}

.testimonials-imgs-inner-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.testimonials-imgs img {
    height: 200px;
    cursor: pointer;
}

.testimonials-imgs img:hover .testimonials-text-overlay {
    transform: translateY(0);
}

.testimonials-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.testimonials-heading {
    width: 22%;
    padding: 8px;
}

.testimonials-heading h1 {
    font-size: 28px;
    max-width: 100%;
}

footer {
    height: 450px;
    padding: 64px 0 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #212121;
}

footer li {
    font-size: 14px;
    margin: 16px 12px;
}

.footer-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
}

.sitemap {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.sitemap-header {
    margin-bottom: 16px;
}

.sitemap-main {
    display: flex;
    align-items: top;
    justify-content: center;
    gap: 28px;
}

.contact {
    display: flex;
    flex-direction: column;
}

.footer-apps {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.footer-apps-logos {
    margin-top: 16px;
}

.footer-apps ul {
    display: flex;
}

.footer-apps ul li {
    margin-left: 0;
}


.footer-apps-logos img {
    max-height: 54px;
}

.footer-footer {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
}

.footer-footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.scroller {
    padding: 8px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 9999;
    cursor: pointer;
}

.hidden {
    display: none;
}


@media screen and (max-width: 1245px) {
    .header-top-container {
        width: 100%;
        justify-content: space-between;
    }

    nav {
        margin-left: auto;
    }

    .foundation-cards {
        flex-wrap: wrap;
    }

    .foundation-card {
        width: 30%;
    }

    .community-img {
        display: none;
    }

    .community-cards {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .community-card {
        max-width: unset;
        width: 49%;
        height: 50%;
        padding: 32px 64px;
    }

    .community-btn {
        min-width: 40%;
        margin: 0 auto;
    }

    .trending-cards>:last-child {
        display: none;
    }

    .testimonials-heading {
        width: 100%;
    }

    .testimonials-heading h1 {
        text-align: center;
        font-size: 20px;
    }

    .footer-main {
        gap: 96px;
    }
}

@media screen and (max-width: 980px) {
    nav {
        display: none;
    }

    .scrolled {
        justify-content: space-between;
        padding: 8px 16px;
    }

    .toggler {
        display: flex;
    }

    .trending {
        height: auto;
    }

    .trending-cards {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .trending-card {
        max-width: 80%;
    }

    .trending-card-img img {
        max-width: 100%;
    }

    .trending-cards>*:not(:first-child) {
        display: none;
    }

    .testimonials {
        flex-direction: column;
        align-items: stretch;
    }

    .testimonials-heading h1 {
        font-size: 24px;
        max-width: 100%;
        padding: 16px 0;
    }

    .testimonials-imgs-inner-container {
        width: 100%;
    }

    .testimonials-imgs-inner-container img {
        width: 50%;
        object-fit: cover;
    }

    .testimonials-imgs-inner-container>:last-child {
        display: none;
    }
}

@media screen and (max-width: 770px) {
    .foundation-card {
        max-width: unset;
        width: 100%;
    }

    .community-card {
        width: 100%;
        height: auto;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    }

    .milestone {
        height: auto;
    }

    .milestone-main {
        flex-direction: column;
        margin-bottom: 48px;
    }

    .sitemap-main {
        flex-direction: column;
    }

    footer {
        height: auto;
        padding-bottom: 0;
    }

    .footer-main {
        flex-direction: column;
        align-items: unset;
        justify-content: center;
        padding: 0 32px;
        gap: 0;
    }

    .footer-footer {
        padding: 32px;
        justify-content: space-between;
    }

}

@media screen and (max-width: 600px) {
    .community-apps {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
    }

    .community-apps img {
        max-height: 90px;
        margin-top: 16px;
    }

    .testimonials-imgs-inner-container img {
        width: 100%;
        object-fit: cover;
    }

    .testimonials-imgs-inner-container img:not(:first-child) {
        display: none;
    }
}